body
{
    font-family: Impact;
    font-size: 20px;
    float: none;
}
.top
{
    background: #ffff99;
    color:black;
    width:100%;
    text-align: center;
    vertical-align: central;
    border:0;
    top:50px;
    box-shadow: 2px 2px 1px silver;
    vertical-align: middle;
    position: fixed; top:0; left: 0;
}
.content
{
    color:black;
    width:100%;
    text-align: center;
    vertical-align: central;
    border:0;
    top:50px;
    left:0;right:0;
    box-shadow: 2px 2px 1px silver;
    vertical-align: middle;
    margin-top: 5px;
    position: absolute;
    z-index: -1;
}

#table_in_top_div
{
    width:100%;
    height:50px;
    border-collapse: collapse;
}

.td_header
{
    border-right: 2px solid silver;
}

.td_header_last:hover
{
    cursor: pointer;
    background: white;
}

.td_header:hover
{
    cursor: pointer;
    background: white;
}

.td_content_last { }

#table_content
{
    width:100%;
    height:50px;
    border-collapse: collapse;
    top:20px;
    font-size: 16px;
}
#table_content tr td
{
    border-bottom: 1px solid silver;
    border-right: 1px solid silver;
}
#table_content tr:nth-child(odd)
{
    background: rgb(245,245,245);
}

#table_content tr:hover
{
    transition: all .5s linear;
    background: rgb(235,235,235);
    cursor: pointer;
}

@media only screen and (max-width:1048px)
{
    .td_content_last, .td_header_last
    {
        display: none;
        visibility: hidden;
    }
    #table_content tr td:focus:after
    {
        content: attr(data-title);
        position: absolute;
        z-index: 1;
        background: rgba(255,255,230,0.9);
        padding: 5px 10px;
        font-size: 18px;
    }
}

@media only screen and (max-width:500px)
{
    body
    {
        font-size: 12px;
    }
    #table_content
    {
        font-size: 10px;
    }
}